<div id="<%= dom_id cargo %>">
  <p>
    <strong>Nome:</strong>
    <%= cargo.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= cargo.descricao %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= cargo.departamento_id %>
  </p>

  <p>
    <strong>Nivel:</strong>
    <%= cargo.nivel %>
  </p>

  <p>
    <strong>Salario base:</strong>
    <%= cargo.salario_base %>
  </p>

  <p>
    <strong>Requisitos:</strong>
    <%= cargo.requisitos %>
  </p>

  <p>
    <strong>Beneficios:</strong>
    <%= cargo.beneficios %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cargo.status %>
  </p>

</div>
