<%= simple_form_for @cargo do |form| %>
  <%= form.input :nome, label: "Nome do Cargo" %>

  <%= form.input :descricao, label: "Descrição", as: :text %>

  <%= form.input :departamento_id, label: "Departamento", as: :select, collection: Departamento.all.collect { |d| [d.nome, d.id] }, prompt: "Selecione um Departamento" %>
  
  <%= form.input :nivel, label: "Nível do Cargo", collection: ["Júnior", "Pleno", "Sênior", "Não se aplica"], 
                    prompt: "Selecione o Nível" %>

  <%= form.input :salario_base, label: "Salário Base", as: :decimal, step: 0.01 %>

  <%= form.input :requisitos, label: "Requisitos", as: :text %>

  <%= form.input :beneficios, label: "Benefícios", as: :text %>

  <%= form.input :status, label: "Status do Cargo", collection: ["Ativo", "Inativo"], 
                    prompt: "Selecione o Status" %>

  <div class="actions">
    <%= form.button :submit, "Salvar Cargo" %>
  </div>
<% end %>
