<p style="color: green"><%= notice %></p>

<%= render @cargo %>

<div>
  <%= link_to "Editar", edit_cargo_path(@cargo) %> |
  <%= link_to "Voltar", cargos_path %>
  <%= button_to "Apagar", @cargo, method: :delete %>
</div>
