<p style="color: green"><%= notice %></p>

<h1>Funcionarios</h1>

<div id="funcionarios">
  <% @funcionario.each do |funcionario| %>
    <%= render funcionario %>
    <p>
      <%= link_to "Show this funcionario", funcionario %>
    </p>
  <% end %>
</div>

<h1>Funcionários</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Departamento</th>
      <th>Cargo</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionario.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.departamento.name if funcionario.departamento %></td>
        <td><%= funcionario.cargo %></td>
        <td><%= funcionario.status %></td>
        <td><%= link_to 'Mostrar', funcionario %></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario) %></td>
        <td><%= link_to 'Excluir', funcionario, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<%= link_to "New funcionario", new_funcionario_path %>
