<h2>Atualizar Senha</h2>

<%= form_for(resource, as: resource_name, url: update_user_password_path, html: { method: :patch }) do |f| %>
  <div class="form-group">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %> <i>(nova senha)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar Senha", class: "btn btn-primary" %>
  </div>
<% end %>
